*{
    padding: 0;
    margin: 0;
}
body{
    align-items: center;
    }
#clock{
    margin-top: 50px;
    width:800px;
    padding: 10px;
    height: 700px;
    /* background-image: url("./images/chronometre.jpg");
    background-repeat: no-repeat; */
}

h1{
    text-align: center;
}
.clock-month,
.clock-day,
.clock-jour,
.clock-time,
.clock-ampm{
    font-family: 'Concert One', cursive;
    font-size: 40px;
    color : black;
}
.clock-month,
.clock-jour,
.clock-day,
.clock-time{
    font-size: 50px;
}